.success-message {
  text-align: center;
  padding: 80px 20px;
  background-color:#fffbe9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: 100px auto;
}

.success-message h2 {
  color:darkorange;
  margin-bottom: 15px;
}

.success-message p {
  color:black;
  margin-bottom: 25px;
}

.back-btn {
  background-color: orange;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.back-btn:hover {
  background-color: darkorange;
}
